#gallery ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#gallery ol li {
    list-style: none;
}

#gallery li{
    width: 20%;
    aspect-ratio: 4 / 3;
    padding: 0.5vw;
    overflow: hidden;
}

#gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 768px) {
    #gallery li {
        width: 33.333%;
    }
}

@media (max-width: 480px) {
    #gallery li {
        width: 50%;
    }
}